body {
  margin: 0;
  border: 2px black solid;

}

nav {

  color: black;
  float: left;
  text-align: center;
  width: 90%;
  margin-bottom: 45px;
  margin-left: 5%;

}

.home {
  box-sizing: border-box;
  background-color: #C2F0FF;
  float: left;
  width: 8.3%;
  height: 55px;
  padding: 1.5%;
}

.blog {
  box-sizing: border-box;
  background-color: #F0C2FF;
  float: left;
  width: 75%;
  height: 55px;
  padding: 1.5%;
}

.about {
  box-sizing: border-box;
  background-color: #D1FFC2;
  float: left;
  width: 8.3%;
  height: 55px;
  padding: 1.5%;
}

.contact {
  box-sizing: border-box;
  background-color: #FFD2C2;
  float: left;
  width: 8.3%;
  height: 55px;
  padding: 1.5%;
}

.logo {
  clear: both;
  text-align: center;
  box-sizing: border-box;
  padding: 40px;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  background-color: #B5B5B5;
}

.posts {
  float: right;
  margin-right: 5%;
  margin-bottom: 60px;
  width: 65%;
}

.articles {
  box-sizing: border-box;
  border: 1px solid black;
  height: 250px;
  width: 23.3%;
  float: left;
  box-sizing: border-box;
  text-align: center;

}

.bottomarticle {
  box-sizing: border-box;
  border: 1px solid black;
  clear: both;
  text-align: center;
  height: 275px;
  width: 70%;

}

aside
{
  box-sizing: border-box;
  width: 15%;
  float: left;
  border: 1px solid black;
  height: 525px;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  padding: 30px;
}

.twitter {
  clear: both;
  text-align: center;
  box-sizing: border-box;
  width: 1000px;
  height: 50px;
  margin-left: 14%;
  margin-bottom: 0;
  font-family: helvetica;
  font-size: 20px;

}
a:link {
    text-decoration: none;
    color: #D61F84
}

a:hover {
  color: #3CD4B0;
}

footer {
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #838EF0;
  width: 100%;
  clear: both;
  margin-bottom: 0;
  text-align: center;
  padding: 30px;
}
